{% extends "layout_siec.html" %}

{% block head %}
{{ super() }}

{% endblock %}

{% block content %}
<div class="row">
	<div class="col">
	</div>
	<div class="col-9">
		<table id="menu" class="table table-striped" style="margin-top:30px;">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Cena</th>
					<th scope="col">Opis</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="col">
	</div>
</div>

<div class="row">
	<div class="col">
	</div>
	<div class="col-9">
		<a class="btn btn-outline-primary" role="button" href="{{ url_for('formularz_potrawy_sieci.wyswietl_formularz') }}">Dodaj
			potrawę</a>
	</div>
	<div class="col">
	</div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
	$(document).ready(function () {
		var host = "http://{{ config.BACKEND_HOST }}";
		var port = "{{ config.BACKEND_PORT }}";
		var endpoint = "/pobierz_menu_sieci";
		$.ajax({
			type: "GET",
			url: host + ":" + port + endpoint,
			success: function (json_obj) {
				console.log(json_obj);
				var menu_list = json_obj['lista'];
				$.each(menu_list, function (i, menu_item) {
					var row = '<tr id="' + menu_item.id_dania + '">';
					row += '<td>' + menu_item.nazwa + '</td>';
					row += '<td>' + menu_item.cena + '</td>';
					row += '<td>' + menu_item.opis + '</td>';
					row += '</tr>'
					$('#menu').children('tbody').append(row);
				});
			}
		});
	});
</script>

{% endblock %}