<div class="container-fluid">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link disabled" href="#">UI Pracownika kuchni</a>
    </li>
  </ul>
  <hr>
  <nav class="navbar navbar-light">
    <a class="nav-item active">Bieżące zamówienie: {{getCoursesList(currentOrder)}}</a>
    <form class="form-inline">
      <button type="button" class="btn btn-outline-dark my-2 my-sm-0 my-btn" (click)="finalizeRealisation()">Realizacja zakończona</button>
      <button type="button" class="btn btn-outline-dark my-2 my-sm-0 my-btn" (click)="dropCurrentOrder()">Porzuć zamówienie</button>
    </form>
  </nav>
  <hr>
  <br>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-10 ui-content">
      <h1 class="lead">Lista zamówień</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID Zamówienia</th>
            <th scope="col">Lista zamówionych dań</th>
            <th scope="col">Kwota</th>
            <th scope="col">Satus</th>
            <th scope="col">Data dodania</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderList">
            <td>{{order.id}}</td>
            <td>{{getCoursesList(order)}}</td>
            <td>{{order.price}}</td>
            <td>{{order.orderStatus}}</td>
            <td>{{order.addingDate | date:'medium'}}</td>
            <th><button type="button" class="btn btn-outline-dark" (click)="takeOrder(order.id)">Podejmij zamówienie</button></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
    </div>
  </div>
</div>