<div class="container-fluid">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Raporty</a>
    </li>
  </ul>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-dark btn-lg" (click)="completed()">Wyświetl raport zrealizowanych zamówień</button>
    <button type="button" class="btn btn-outline-dark btn-lg" (click)="dropped()">Wyświetl raport porzuconych zamówień</button>
  </div>
  <p-chart type="pie" [data]="dataDisplayed"></p-chart>
</div>