<div class="row py-4 d-flex justify-content-center">
  <div class="col col-md-3">
    <div class="card border-primary mx-auto">
      <div class="card-header">Dodanie Restauracji</div>
      <div class="card-body text-primary">
        <form name="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group">
            <label for="inputName">Nazwa Restauracji <span style="color:red">*</span></label>
            <input class="form-control input-lg" type="text" placeholder="Proszę wpisać nazwę restauracji" [(ngModel)]="restaurant.nazwa" name="nazwa" #nazwa="ngModel" id="restaurant_name">
          </div>
          <div class="form-group">
            <label for="inputSurname">Lokalizacja <span style="color:red">*</span></label>
            <input class="form-control input-lg" type="text" placeholder="Proszę wpisać adres restauracji" [(ngModel)]="restaurant.adres" name="adres" #adres="ngModel" id="adress">
          </div>
          <div class="d-flex justify-content-center py-3">
            <button class="btn btn-lg btn-primary mr-4"  click="onSubmit">Dodaj</button>
            <button class="btn btn-lg btn-danger  ml-4"  click="onCancel">Anuluj</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>